################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Gestion-Commercials/FileContentIndex
/.vs/Gestion-Commercials/v17
