<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<!-- Chaine de connexion définie pour la connexion à la BD-->
	<connectionStrings>
		<add name="COMMERCIAL" connectionString="Data
		Source=localhost;Initial Catalog=DECLICINFO;Integrated
		Security=True"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
